html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure html and body take full height */
}

body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure body takes full height */
}

#canvases {
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  width: 1000px;
  overflow: hidden;
}

#hands-canvas,
#stream-canvas {
  position: absolute;
  top: 0%;
  left: 0%;
}

#stream-canvas {
  filter: url("#gooey");
}
