html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p5Canvas {
  margin: 10px 0;
}